{% extends "pages/base.html" %}
{% block body %}
    <div class="flex-container ps-5 pe-5 p-5" style="background-color: black">
        <div class="row">
            <div class="col d-flex justify-content-lg-center">
                <h1 id="base-title" style="font-size: 400%">Contact Me</h1>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h4 id="base-text" style="font-size: 250%">Julian Davis--Artist, Illustrator, Designer</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 d-flex justify-content-center pt-5">
                <h4 class="p-3 neg-margin"><a  class="contact-link" href="mailto:julian.davis1028@gmail.com"><i class="fa-regular fa-envelope"></i> julian.davis1028@gmail.com</a></h4>

            </div>
            <div class="col-lg-4 d-flex justify-content-center pt-5">
                <h4 class="p-3 neg-margin"><a  class="contact-link"  target="_blank" href="https://www.instagram.com/_masterju"><i class="fa-brands fa-instagram"></i> @_masterju</a></h4>
            </div>
            <div class="col-lg-4 d-flex justify-content-center pt-5">
                <h4 class="p-3 neg-margin"><a class="contact-link" target="_blank" href="https://www.tiktok.com/@masterju?_t=8Ykc5SE13hS&_r=1"><i class="fa-brands fa-tiktok"></i> @masterju</a></h4>
            </div>
        </div>
    </div>
{% endblock %}